In [1]:
# Dependencies and Setup
import numpy as np
import pandas as pd

In [2]:
#file to load 
heroes_csv = "resources/purchase_data.csv"

In [3]:
#read purchasing file and store into pandas data frame
heroes_df = pd.read_csv(heroes_csv)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
heroes_df.aggregate({"SN":[ 'count']})

        SN
count  780

In [5]:
total_players_df = heroes_df["SN"].nunique()
print("Total Players= ",
      total_players_df)

Total Players=  576

In [6]:
heroes_df["Item Name"].nunique()

179

In [7]:
dataset = (heroes_df)
print(dataset.dtypes)

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [8]:
print(dataset.size), (dataset.shape)

5460

(None, (780, 7))

In [9]:
print(dataset.sum())

Purchase ID                                               303810
SN             Lisim78Lisovynya38Ithergue48Chamassasya86Iskos...
Age                                                        17717
Gender         MaleMaleMaleMaleMaleMaleMaleMaleMaleOther / No...
Item ID                                                    71569
Item Name      Extraction, Quickblade Of Trembling HandsFrenz...
Price                                                    2379.77
dtype: object

In [10]:
print(dataset.count())

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [11]:
print(dataset.describe())

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [12]:
print(heroes_df["Item Name"].max())

Yearning Mageblade

In [13]:
print(dataset.max())

Purchase ID                      779
SN                         Zontibe81
Age                               45
Gender         Other / Non-Disclosed
Item ID                          183
Item Name         Yearning Mageblade
Price                           4.99
dtype: object

In [14]:
print(dataset.min())

Purchase ID                0
SN              Adairialis76
Age                        7
Gender                Female
Item ID                    0
Item Name      Abyssal Shard
Price                    1.0
dtype: object

In [15]:
#heroes_df.loc[[12]]

In [16]:
#print(heroes_df["Price"].mean .unique)

In [17]:
heroes_df.aggregate({"Price":[ 'mean']})

         Price
mean  3.050987

* Display the total number of players

In [18]:
total_players_df = heroes_df["SN"].nunique()

In [19]:
summary_df=pd.DataFrame({"Total Players": [total_players_df]})
summary_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
print(dataset.describe())

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [21]:
heroes_df.aggregate({"Price":[ 'sum']})

       Price
sum  2379.77

In [22]:
summary_df = heroes_df.sum()
summary_df

Purchase ID                                               303810
SN             Lisim78Lisovynya38Ithergue48Chamassasya86Iskos...
Age                                                        17717
Gender         MaleMaleMaleMaleMaleMaleMaleMaleMaleOther / No...
Item ID                                                    71569
Item Name      Extraction, Quickblade Of Trembling HandsFrenz...
Price                                                    2379.77
dtype: object

In [23]:
unique_items=heroes_df["Item Name"].nunique()
print(unique_items)

179

In [24]:
average_price=heroes_df["Price"].mean()
print(average_price)

3.050987179487176

In [25]:
purchase_total = heroes_df["Item ID"].count()
print(purchase_total)

780

In [26]:
total_revenue = heroes_df["Price"].sum()
print(total_revenue)

2379.77

In [27]:
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                           "Average Price": [average_price],
                           "Number of Purchases": [purchase_total],
                           "Total Revenue": [total_revenue]})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [28]:
total_players_df = heroes_df["SN"].nunique()
total_players_df

576

In [47]:
gender_df = heroes_df.groupby(["Gender", "SN"])
print(gender_df)
gender_df.count()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002A80D9FFF40>

                                     Purchase ID  Age  Item ID  Item Name  \
Gender                SN
Female                Adastirin33              1    1        1          1
                      Aerithllora36            2    2        2          2
                      Aethedru70               1    1        1          1
                      Aidain51                 1    1        1          1
                      Aiduesu86                1    1        1          1
...                                          ...  ...      ...        ...
Other / Non-Disclosed Lirtim36                 1    1        1          1
                      Maluncil97               2    2        2          2
                      Rairith81                1    1        1          1
                      Siarithria38             2    2        2          2
                      Sundim98                 1    1        1          1

                                     Price  Age List
Gender                SN
Female                Adastirin33        1         1
                      Aerithllora36      2         2
                      Aethedru70         1         1
                      Aidain51           1         1
                      Aiduesu86          1         1
...                                    ...       ...
Other / Non-Disclosed Lirtim36           1         1
                      Maluncil97         2         2
                      Rairith81          1         1
                      Siarithria38       2         2
                      Sundim98           1         1

[576 rows x 6 columns]

In [35]:
summary_df=pd.DataFrame(["Count of Male players"])


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [32]:
bins = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
group_labels = ["0-4", "5-9", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-45"]
pd.cut(heroes_df["Age"], bins, labels = group_labels).head()

0    15-19
1    35-39
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (9, object): ['0-4' < '5-9' < '10-14' < '15-19' ... '25-29' < '30-34' < '35-39' < '40-45']

In [33]:
heroes_df["Age List"] = pd.cut(heroes_df["Age"], bins, labels=group_labels)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age List
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [34]:
age_list = heroes_df.groupby("Age")
print(age_list["Age"].count())
age_list[["SN","Age"]].count

Age
7      9
8      8
9      6
10     9
11     7
12     6
13     4
14     2
15    35
16    30
17    22
18    26
19    23
20    99
21    62
22    70
23    67
24    67
25    59
26    14
27    10
28     5
29    13
30    35
31     7
32     8
33    14
34     9
35    14
36     5
37     7
38     9
39     6
40     6
41     2
42     1
43     1
44     2
45     1
Name: Age, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame