In [1]:
# Dependencies and Setup
import numpy as np
import pandas as pd
import csv
import os

In [2]:
#file to load 
heroes_csv = "resources/purchase_data.csv"

In [3]:
#read purchasing file and store into pandas data frame
heroes_df = pd.read_csv(heroes_csv)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
heroes_df.aggregate({"SN":[ 'count']})

        SN
count  780

In [5]:
total_players_df = heroes_df["SN"].nunique()
print("Total Players= ",
      total_players_df)

Total Players=  576

In [6]:
heroes_df["Item Name"].nunique()

179

In [7]:
dataset = (heroes_df)
print(dataset.dtypes)

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [8]:
print(dataset.size), (dataset.shape)

5460

(None, (780, 7))

In [9]:
print(dataset.sum())

Purchase ID                                               303810
SN             Lisim78Lisovynya38Ithergue48Chamassasya86Iskos...
Age                                                        17717
Gender         MaleMaleMaleMaleMaleMaleMaleMaleMaleOther / No...
Item ID                                                    71569
Item Name      Extraction, Quickblade Of Trembling HandsFrenz...
Price                                                    2379.77
dtype: object

In [10]:
print(dataset.count())

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [11]:
print(dataset.describe())

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [12]:
print(heroes_df["Item Name"].max())

Yearning Mageblade

In [13]:
print(dataset.max())

Purchase ID                      779
SN                         Zontibe81
Age                               45
Gender         Other / Non-Disclosed
Item ID                          183
Item Name         Yearning Mageblade
Price                           4.99
dtype: object

In [14]:
print(dataset.min())

Purchase ID                0
SN              Adairialis76
Age                        7
Gender                Female
Item ID                    0
Item Name      Abyssal Shard
Price                    1.0
dtype: object

In [15]:
#heroes_df.loc[[12]]

In [16]:
#print(heroes_df["Price"].mean .unique)

In [17]:
heroes_df.aggregate({"Price":[ 'mean']})

         Price
mean  3.050987

* Display the total number of players

In [18]:
total_players_df = heroes_df["SN"].nunique()

In [19]:
summary_df=pd.DataFrame({"Total Players": [total_players_df]})
summary_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
print(dataset.describe())

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [21]:
heroes_df.aggregate({"Price":[ 'sum']})

       Price
sum  2379.77

In [22]:
summary_df = heroes_df.sum()
summary_df

Purchase ID                                               303810
SN             Lisim78Lisovynya38Ithergue48Chamassasya86Iskos...
Age                                                        17717
Gender         MaleMaleMaleMaleMaleMaleMaleMaleMaleOther / No...
Item ID                                                    71569
Item Name      Extraction, Quickblade Of Trembling HandsFrenz...
Price                                                    2379.77
dtype: object

In [23]:
unique_items=heroes_df["Item Name"].nunique()
print(unique_items)

179

In [24]:
average_price=heroes_df["Price"].mean()
print(average_price)

3.050987179487176

In [25]:
purchase_total = heroes_df["Item ID"].count()
print(purchase_total)

780

In [26]:
total_revenue = heroes_df["Price"].sum()
print(total_revenue)

2379.77

In [27]:
summary_df = pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Price": [average_price],
    "Number of Purchases": [purchase_total],
    "Total Revenue": [total_revenue],
})
summary_df.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [28]:
player_count = len(heroes_df["SN"].unique())
total_players_df=pd.DataFrame({'Total Players': [player_count]})
total_players_df

   Total Players
0            576


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [29]:
gender_df = heroes_df.groupby('Gender')
gender_count = gender_df['Gender'].count()

In [30]:
avg_price = gender_df['Price'].mean()

In [31]:
purchase_tot = gender_df['Price'].sum()

In [32]:
avg_tot = purchase_tot / gender_df['SN'].nunique()

In [33]:
gender_analysis_df = pd.DataFrame({
    'Purchase Count': gender_count,
    'Average Purchase Price': avg_price, 
    'Total Purchase Value': purchase_tot, 
    'Avg Total Purchase per Person': avg_tot})

In [34]:
gender_analysis_df.style.format({
    'Average Purchase Price': '${:,.2f}', 
    'Total Purchase Value': '${:,.2f}', 
    'Avg Total Purchase per Person': '${:,.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [35]:
bins = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [36]:
age_labels = ["0-4", "5-9", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-45"]

In [37]:
pd.cut(heroes_df["Age"], bins, labels = age_labels).head()

0    15-19
1    35-39
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (9, object): ['0-4' < '5-9' < '10-14' < '15-19' ... '25-29' < '30-34' < '35-39' < '40-45']

In [38]:
heroes_df['Age List'] = pd.cut(heroes_df['Age'], bins, labels=age_labels)

In [39]:
age_group_df = heroes_df.groupby('Age List')

In [40]:
age_cnt = age_group_df['SN'].nunique()

In [41]:
age_pct = age_cnt / player_count

In [42]:
age_demo_df = pd.DataFrame({'TotalCount': age_cnt, 'Percetage of Players': age_pct})

In [43]:
age_demo_df.style.format({'Percent of Players': '{:,.2%'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [44]:
purchase_count = age_group_df['Purchase ID'].count()

In [45]:
purchase_avg = age_group_df['Price'].mean()

In [46]:
purchase_value = age_group_df['Price'].sum()

In [47]:
avg_purchase = purchase_value / age_cnt

In [48]:
analysis_df = pd.DataFrame({
    'Purchase Count': purchase_count, 
    'Average Purchase Price': purchase_avg, 
    'Total Purchase Value': purchase_value, 
    'Avg Total Purchase per Person': avg_purchase})

In [49]:
analysis_df.style.format({
    'Average Purchase Price': '${:,.2f}', 
    'Total Purchase Value': '${:,.2f}', 
    'Avg Total Purchase per Person': '${:,.2f}'})

## Top Spenders

In [50]:
spender_df = heroes_df.groupby('SN')

In [51]:
spender_cnt = heroes_df['SN'].count()
print(spender_cnt)

780

In [52]:
spender_avg = heroes_df['Price'].mean()
print(spender_avg)

3.050987179487176

In [53]:
spender_tot = heroes_df['Price'].sum()
print(spender_tot)

2379.77

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [54]:
popular_df = heroes_df.groupby(['Item ID', 'Item Name'])

In [55]:
popular_cnt = popular_df['Item ID'].count()
print(popular_cnt)

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Item ID, Length: 179, dtype: int64

In [56]:
popular_val = popular_df['Price'].sum()
print(popular_val)

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [57]:
item_price = popular_val / popular_cnt

In [58]:
item_data_df = pd.DataFrame({
    'Purchase Count': popular_cnt, 
    'Item Price': item_price, 
    'Total Purchase Value': popular_val})

In [59]:
top_popular_df = item_data_df.sort_values(['Purchase Count'], ascending=False).nlargest(5, 'Purchase Count')
top_popular_df.style.format({'Item Price': '${:,.2f}', 'Total Purchase Value': '${:,.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [60]:
top_profitable_df = item_data_df.sort_values(['Total Purchase Value'], ascending=False).nlargest(5, 'Total Purchase Value')

top_profitable_df.style.format({'Item Price': '${:,.2f}', 'Total Purchase Value': '${:,.2f}'})